<html>
<body>
    <div class="login">
       <h1>Breast Cancer Detaction web app</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Breast Cancer Prediction</legend>
        </h1>
         
        </div>
        <div class="mb-3">
            <label class="form-label">radius_mean : </label>
            <input class="form-control" type="number" name="radius_mean"
                
        </div>
      
        <div class="mb-3">
            <label class="form-label">texture_mean :</label>
            <input class="form-control" type="number" name="texture_mean"
                
        </div>
      
      </div>
        <div class="mb-3">
            <label class="form-label">perimeter_mean :</label>
            <input class="form-control" type="number" name="perimeter_mean"
                
        </div>
  
        <div class="mb-3">
            <label class="form-label">area_mean :</label>
            <input class="form-control" type="number" name="area_mean"
                
        </div>
  
        </div>
        <div class="mb-3">
            <label class="form-label">smoothness_mean :</label>
            <input class="form-control" type="number" name="smoothness_mean"
                
        </div>
        <div class="mb-3">
            <label class="form-label">compactness_mean : </label>
            <input class="form-control" type="number" name="compactness_mean"
                
        </div>
        </div>
        <div class="mb-3">
            <label class="from-label">concavity_mean :</label>
            <input class="form-control" type="number" name="concavity_mean"
                
        </div>
          
        <div class="mb-3">
            <label class="form-label">concave_points_mean</label>
            <input class="form-control" type="number" name="concave points_mean"
                
        </div>  
          
        </div>
        <div class="mb-3">
            <label class="form-label">symmetry_mean</label>
            <input class="form-control" type="number" name="symmetry_mean"
                
        </div>
        <div class="mb-3">
            <label class="form-label">fractal_dimension_mean</label>
            <input class="form-control" type="number" name="fractal_dimension_mean"
                
        </div>
         
        <div class="mb-3">
            <label class="form-label">radius_se :</label>
            <input class="form-control" type="number" name="radius_se"
                
        </div>  
          
        </div>
        <div class="mb-3">
            <label class="form-label">texture_se :</label>
            <input class="form-control" type="number" name="texture_se"
                
        </div>
        <div class="mb-3">
            <label class="form-label">perimeter_se :</label>
            <input class="form-control" type="number" name="perimeter_se"
                   
        </div>
          
        <div class="mb-3">
            <label class="form-label">area_se : </label>
            <input class="form-control" type="number" name="area_se"
                
        </div>
      
        <div class="mb-3">
            <label class="form-label">smoothness_se :</label>
            <input class="form-control" type="number" name="smoothness_se"
                
        </div>
      
      </div>
        <div class="mb-3">
            <label class="form-label">compactness_se :</label>
            <input class="form-control" type="number" name="compactness_se"
                
        </div>
  
        <div class="mb-3">
            <label class="form-label">concavity_se :</label>
            <input class="form-control" type="number" name="concavity_se"
                
        </div>
          
        <div class="mb-3">
            <label class="form-label">concave_points_se : </label>
            <input class="form-control" type="number" name="concave points_se"
                
        </div>
      
        <div class="mb-3">
            <label class="form-label">symmetry_se :</label>
            <input class="form-control" type="number" name="symmetry_se"
                
        </div>
      
      </div>
        <div class="mb-3">
            <label class="form-label">fractal_dimension_se :</label>
            <input class="form-control" type="number" name="fractal_dimension_se"
                
        </div>
  
        <div class="mb-3">
            <label class="form-label">radius_worst :</label>
            <input class="form-control" type="number" name="radius_worst"
                
        </div>
  
        </div>
        <div class="mb-3">
            <label class="form-label">texture_worst :</label>
            <input class="form-control" type="number" name="texture_worst"
                
        </div>
          
        <div class="mb-3">
            <label class="form-label">perimeter_worst : </label>
            <input class="form-control" type="number" name="perimeter_worst"
                
        </div>
      
        <div class="mb-3">
            <label class="form-label">area_worst :</label>
            <input class="form-control" type="number" name="area_worst"
                
        </div>
      
      </div>
        <div class="mb-3">
            <label class="form-label">smoothness_worst :</label>
            <input class="form-control" type="number" name="smoothness_worst"
                
        </div>
  
        <div class="mb-3">
            <label class="form-label">compactness_worst :</label>
            <input class="form-control" type="number" name="compactness_worst"
                
        </div>
        
        <div class="mb-3">
            <label class="form-label">concavity_worst : </label>
            <input class="form-control" type="number" name="concavity_worst"
                
        </div>
      
        <div class="mb-3">
            <label class="form-label">concave_points_worst :</label>
            <input class="form-control" type="number" name="concave points_worst"
                
        </div>
      
      </div>
        <div class="mb-3">
            <label class="form-label">symmetry_worst :</label>
            <input class="form-control" type="number" name="symmetry_worst"
                
        </div>
  
        <div class="mb-3">
            <label class="form-label">fractal_dimension_worst :</label>
            <input class="form-control" type="number" name="fractal_dimension_worst"
                
        </div>
          
         </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Check" required />
        </div>
    </form>
    <h2>
       THE  Breast Cancer Detected is {{results}}
    </h2>
   <body>
</html>
  
